<section>
  <div class="container">
    <div class="row">
      <div class="form-container col-md-6 mx-auto col-sm-12">
        <mat-card>
          <mat-card-content>
            <div class="title text-center text-capitalize my-3" data-aos="fade-down" data-aos-duration="800">
              <h1 class="fw-bold">login</h1>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

              <mat-form-field appearance="fill" class="my-2">
                <mat-label>Enter Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. mohamed@mail.com">
                <mat-error *ngIf="email && email.invalid && email.touched">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="my-2">
                <mat-label>Enter Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="pass" matInput placeholder="**********">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="pass && pass.invalid && pass.touched">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <div class="button text-center my-3">
                <button type="submit" class="w-100 py-4" mat-raised-button color="primary"
                  [disabled]="loginForm.invalid">Login</button>
              </div>

            </form>

            <div class="login-signup my-4 text-center" data-aos="fade-down" data-aos-duration="1500">
              <span class="text">I-am-not-a-member
                <a routerLink="/register">
                  create-account
                </a>
              </span>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</section>